<div>
  <div class="modal-header">
    <div class="row">
      <div class="col-md-2"><h3 class="modal-title">{{ttb}}</h3></div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row comment-textarea">
      <textarea class="form-control" rows="2" ng-model="newComment"></textarea>
    </div>
    <div class="row">
      <div class="pull-right">
        <div class="col-md-7">
          <label for="commentBy">Submitted By: </label>
          <input class="form-control" name="commentBy" list="users" ng-model="commentBy">
          <datalist id="users">
            <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
          </datalist>
        </div>
        <button class="btn btn-primary my-modal-padding" type="button" ng-click="add()">Add Comment</button>
      </div>
    </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <tr>
          <th>Comment</th>
          <th>Timestamp</th>
          <th>Submitted By</th>
        </tr>
        <tr ng-repeat="comment in comments">
          <td>{{comment.comment}}</td>
          <td>{{comment.timestamp}}</td>
          <td>{{comment.submitted_by}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer row">
    <button class="btn btn-primary my-modal-padding" type="button" ng-click="close()">Close</button>
  </div>
</div>
