<div>
  <div class="modal-header">
    <div class="row">
      <div class="col-md-2"><h3 class="modal-title">{{ttb}}</h3></div>
      <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
    </div>
    <div class="row">
      <button class="btn btn-primary pull-right my-modal-btn" type="button" ng-click="add()">Add Comment</button>
    </div>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <tr>
          <th>Comment</th>
          <th>Timestamp</th>
          <th>Submitted By</th>
        </tr>
        <tr ng-repeat="comment in comments">
          <td>{{comment.comment}}</td>
          <td>{{comment.timestamp}}</td>
          <td>{{comment.submitted_by}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer row">
    <button class="btn btn-primary my-modal-btn" type="button" ng-click="close()">Close</button>
  </div>
</div>
