<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ng-click="getTickets()">All TTBs</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a ng-click="addTTB()">Add TTB</a></li>
        </ul>
      </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <accordion>
        <accordion-group heading="{{ticket.ttb}} | {{ticket.company_name}} | TC {{ticket.ops_console}} | EON {{ticket.eon}}" ng-repeat="ticket in tickets">
          <div class="container">
            <div class="row">
              <div class="col-md-2">Submitted By: </div>
              <div class="col-md-2">{{ticket.submitted_by}}</div>
              <div class="col-md-2">SLA Start Time: </div>
              <div class="col-md-2">{{ticket.sla_start}}</div>
              <div class="col-md-2">Last Updated: </div>
              <div class="col-md-2">{{ticket.updated}}</div>
            </div>
            <div class="row">
              <br>
              <div class="col-md-2">Owner: </div>
              <div class="col-md-2">{{ticket.owner}}</div>
              <div class="col-md-2">Ticket Information: </div>
              <div class="col-md-2">{{ticket.issue_info}}</div>
            </div>
            <div class="row">
              <br>
              <div class="col-md-2">Supporting: </div>
              <div class="col-md-2">{{ticket.supporting}}</div>
            </div>
            <div class="row">
              <br>
              <div class="col-md-2">{{ticket.domintl}}</div>
              <div class="pull-right">
                <!-- Comments Button pulls up modal with all comments -->
                <button type="button" class="btn btn-primary" ng-click="getComments($index)">Comments</button>
                <button type="button" class="btn btn-danger" ng-click="closeTTB($index)">Close TTB</button>
              </div>
            </div>
          </div>
        </accordion>
      </accordion>
    </div>
  </div>
</div>
